.header {
  padding: 1.5rem 2rem;
  height: 6rem;
  @include flex;

  &__logo {
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
  }
  &__nav {
    width: 40%;
    font-size: 2rem;
    font-weight: 400;
    &-item {
      @include flex;
      width: 100%;
    }
  }
}
