@font-face {
  font-family: "sf-regular";
  src: url("../../fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
  font-family: "sf-semi-bold";
  src: url("../../fonts/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "sf-bold";
  src: url("../../fonts/sf-pro-display_bold.woff2") format("woff2");
}
